.branding {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/* root basic outline, all other css related to header and footer in 
their respective component css file */

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
  background-color: black;
}

main {
  flex-grow: 1;
}

footer {
  background-color: black;
  flex-shrink: 0;
  min-height: 2rem;
}