/* root basic outline, all other css related to header and footer in 
their respective component css file */

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

header {
  flex-shrink: 0;
  background-color: #314769;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}